body{
    background-color: #000;
}
.header{
padding-top: 1.5rem;
color: #fff;   
font-size: 3rem;
font-weight: 700;
text-align: center;
}

.round{
    padding-top: 1rem;
    text-align: center;
    font-size: 2.3rem;
    color: rgb(228, 6, 6);
}

.hidden{
    display:none;
}

.winner{
    color: #fff;   
    margin: 3rem 0 1rem 0;
    display: flex;
    justify-content: center;
    gap: 16rem ;
    font-size: 1.5rem;
}

.score{
    color: #fff;   
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    gap: 18.5rem ;
    font-size: 1.5rem;
}
.main{
    display: flex;
    justify-content: space-evenly;
}

.userChoice, .compChoice{
    color: #fff;   
    border: 5px solid #fff ;
    width: 22%;
    text-align: center;
    font-size: 15rem;
}
.userChoice i, .compChoice i{
    padding: 1rem 0 1rem 0;
}
 
